.container-fieldset{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: column;
    padding: 5%;
}

// @for $i from 1 through 4 {
//     .input#{$i}{
//         margin:1%;
//     }
// }

.input{
    margin:1% !important;
}

.btnEnviar{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
    color:white;
    border:0px;
    border-radius:5px;
}

.encabezado{
    font-family: map-get($fuentes , subtitulo );
    font-size: 40px;
    text-align: center;
}

.destacado{
    background-color: #C1C1C1 !important;
}